@import 'tailwindcss';

@config '../../../config/tailwind.config.js';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer components {
  #messages div[data-new-message="true"] {
    @apply bg-red-100;
  }
}

/* iPhone の Safari はフォーム入力欄のフォントサイズが 16px 未満の場合、
  それをフォーカスすると画面がズームしてしまいます。ここで一括指定しています。
  */
@layer base {
  input,
  textarea,
  select {
    @apply text-base;
  }
}
