<turbo-frame id="users-frame">
  <div class="container p-4">
    <%=
      content_tag(:h2, title,
        class: 'text-2xl font-bold mb-4',
        **data_with_testid(testid)
      )
    %>

    <%= flash_storage %>
    <%= flash_container %>

    <div>
      <%= yield %>
    </div>
  </div>
</turbo-frame>
