<turbo-frame id="users-frame">
  <div class="container p-4">
    <%=
      content_tag(:h2, title,
        class: 'text-2xl font-bold mb-4',
        **data_with_testid(testid)
      )
    %>

    <div id="flash-message-container" class="mx-2"></div>

    <div>
      <%= yield %>
    </div>
  </div>
</turbo-frame>
