service: annabelle

image: <%= ENV.fetch('DEPLOY_IMAGE') %>

servers:
  web:
    hosts:
<% ENV.fetch('DEPLOY_SERVERS_WEB_HOSTS').split(',').each do |host| %>
      - <%= host.strip %>
<% end %>

proxy:
  # ssl:
  #   # Kamal supports loading custom SSL certificates directly from secrets.
  #   # You should pass a hash mapping the certificate_pem and private_key_pem to the secret names.
  #   certificate_pem: CERTIFICATE_PEM
  #   private_key_pem: PRIVATE_KEY_PEM
  host: <%= ENV.fetch('DEPLOY_PROXY_HOST') %>
  app_port: 3000

registry:
  server: <%= ENV.fetch('DEPLOY_REGISTRY_SERVER') %>
  username: <%= ENV.fetch('DEPLOY_REGISTRY_USERNAME') %>
  password:
    - DEPLOY_REGISTRY_PASSWORD

builder:
  arch:
    - amd64
    - arm64
  context: .
  dockerfile: Dockerfile
  args:
    RAILS_ENV: staging

env:
  clear:
    RAILS_ENV: staging
    ANNABELLE_VARIANT_PROCESSOR: vips
    APP_HTTP_HOST: <%= ENV.fetch('APP_HTTP_HOST') %>
    APP_HTTP_PROTOCOL: <%= ENV.fetch('APP_HTTP_PROTOCOL') %>
    APP_HTTP_PORT: <%= ENV.fetch('APP_HTTP_PORT') %>
    SMTP_ADDRESS: <%= ENV.fetch('SMTP_ADDRESS') %>
    SMTP_PORT: <%= ENV.fetch('SMTP_PORT') %>
  secret:
    - ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY
    - ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY
    - ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT
    - GITHUB_CLIENT_ID
    - GITHUB_CLIENT_SECRET
    - SECRET_KEY_BASE

ssh:
  user: <%= ENV.fetch('DEPLOY_SSH_USER') %>
  keys_only: true
  keys:
<% ENV.fetch('DEPLOY_SSH_KEYS').split(',').each do |key| %>
    - <%= key.strip %>
<% end %>

volumes:
  - "<%= ENV.fetch('DEPLOY_VOLUMES_STORAGE') %>:/rails/storage"

accessories:
  mailcatcher:
    service: smtp
    image: sj26/mailcatcher:v0.10.0
    host: <%= ENV.fetch('SMTP_ADDRESS') %>
    options:
      publish:
        - "<%= ENV.fetch('SMTP_PORT') %>:1025"
        - "1080:1080"
