service: annabelle

image: <%= ENV.fetch('DEPLOY_IMAGE') %>

servers:
  web:
    hosts:
<% ENV.fetch('DEPLOY_SERVERS_WEB_HOSTS').split(',').each do |host| %>
      - <%= host.strip %>
<% end %>

proxy:
  ssl:
    # Kamal supports loading custom SSL certificates directly from secrets.
    # You should pass a hash mapping the certificate_pem and private_key_pem to the secret names.
    certificate_pem: DEPLOY_CERTIFICATE_PEM
    private_key_pem: DEPLOY_PRIVATE_KEY_PEM
  host: <%= ENV.fetch('DEPLOY_PROXY_HOST') %>
  app_port: 3001
<% if ENV['DEPLOY_PROXY_BUFFERING_MAX_REQUEST_BODY'].present? %>
  buffering:
    requests: true
    responses: true
    max_request_body: <%= ENV['DEPLOY_PROXY_BUFFERING_MAX_REQUEST_BODY'] %>
    max_response_body: 0
<% end %>

registry:
  server: <%= ENV.fetch('DEPLOY_REGISTRY_SERVER') %>
  username: <%= ENV.fetch('DEPLOY_REGISTRY_USERNAME') %>
  password:
    - DEPLOY_REGISTRY_PASSWORD

builder:
  arch:
    - amd64
    - arm64
  context: .
  dockerfile: Dockerfile
  args:
    RAILS_ENV: staging

env:
  clear:
    RAILS_ENV: staging
    ANNABELLE_VARIANT_PROCESSOR: vips
    APP_HTTP_HOST: <%= ENV.fetch('APP_HTTP_HOST', 'localhost') %>
    APP_HTTP_PROTOCOL: <%= ENV.fetch('APP_HTTP_PROTOCOL', 'https') %>
    APP_HTTP_PORT: <%= ENV.fetch('APP_HTTP_PORT', 443) %>
    SMTP_ADDRESS: <%= ENV.fetch('SMTP_ADDRESS', 'smtp') %>
    SMTP_PORT: <%= ENV.fetch('SMTP_PORT', 1025) %>
    DEVISE_MAILER_SENDER: <%= ENV.fetch('DEVISE_MAILER_SENDER', 'admin@localhost') %>
    MAX_REQUEST_BODY: <%= ENV.fetch('MAX_REQUEST_BODY', '""') %>
    ANNABELLE_MAGIC_NUMBER: <%= ENV.fetch('ANNABELLE_MAGIC_NUMBER', '""') %>
  secret:
    - ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY
    - ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY
    - ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT
    - GITHUB_CLIENT_ID
    - GITHUB_CLIENT_SECRET
    - BASIC_AUTH_USER
    - BASIC_AUTH_PASSWORD
    - SECRET_KEY_BASE

ssh:
  port: <%= ENV.fetch('DEPLOY_SSH_PORT', 22) %>
  user: <%= ENV.fetch('DEPLOY_SSH_USER') %>
  keys_only: true
  keys:
<% ENV.fetch('DEPLOY_SSH_KEYS').split(',').each do |key| %>
    - <%= key.strip %>
<% end %>

volumes:
  - "<%= ENV.fetch('DEPLOY_VOLUMES_STORAGE') %>:/rails/storage"

accessories:
  mailcatcher:
    service: smtp
    image: sj26/mailcatcher:v0.10.0
    host: <%= ENV.fetch('DEPLOY_ACCESSORIES_MAILCATCHER_HOST') %>
    options:
      publish:
        - "1080:1080"
