#container {
  display:flex;
}

#left {
  width: 60%;
}

#right {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 40%;
}

#form-container {
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: .5rem;
}

form {
  margin-bottom: 2rem;
}

#messages {
  width: 100%;
}

#messages .row {
  width: 100%;
  min-height: 1rem;
}

#messages .message {
  border-bottom: 1px gray dashed;
  padding-bottom: 1rem;
}

#messages .message .meta-info {
  font-size: small;
  color: gray;
}

#messages .attachements {
  display: flex;
  overflow: auto;
}

#messages .attachements .attachement .preview {
  height: 5rem;
  width: 14rem;
  overflow: hidden;
}

#messages .attachements .attachement .info {
  font-size: small;
  color: gray;
}

#preview {
  position: sticky;
  top: 1rem;
}

#preview img.fitting-width {
  width: 100%;
}

#preview video.fitting-width {
  width: 100%;
}
